.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;

}

html {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    
}

body {
    padding-top: 200px;
    background-color: rgb(195, 255, 195);
}

.playAgainButton {
    display: flex;
    justify-content: center;
}

#roundResult {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

#scoreContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
}